.buscar-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    text-align: center;
    color: #f5f5f5;
}

.buscar-container h1 {
    font-size: 42px;
    font-weight: 800;
    color: #ffb7e0;
    margin-bottom: 10px;
}

.buscar-container .subtitulo {
    color: #ffd7ee;
    font-size: 18px;
    margin-bottom: 25px;
    text-align: justify;
    text-align-last: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.error {
    background: #ff4d6d;
    color: white;
    padding: 12px;
    border-radius: 10px;
    max-width: 600px;
    margin: 15px auto;
    font-weight: 600;
}

.no-partidas {
    color: #ffd5e8;
    font-size: 16px;
    margin-top: 10px;
}

.lista-partidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.partida-card {
    background: #ee99cc;
    color: #100008;
    width: 260px;
    padding: 25px 20px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    text-align: center;
    transition: 0.25s ease-in-out;
}

.partida-card:hover {
    transform: scale(1.05);
    background: #ffb7e0;
}

.partida-card h2 {
    margin-bottom: 12px;
    color: #841850;
    font-size: 24px;
    font-weight: 800;
}

.partida-card p {
    margin: 6px 0;
    font-size: 15px;
    text-align: left;
}

.partida-card strong {
    color: #53002c;
}

.btn-unirse {
    margin-top: 15px;
    background: #841850;
    color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.btn-unirse:hover {
    background: #53002c;
    transform: scale(1.07);
}

@media (max-width: 480px) {
  .partida-card {
    padding: 18px;
  }

  .partida-card h2 {
    font-size: 20px;
  }
}

