.instrucciones-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px 30px;
    background: #841850;
    color: #f5f5f5;
    border-radius: 14px;
    text-align: center;
    word-spacing: normal;
    letter-spacing: normal;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    line-height: 1.6;
}

.instrucciones-container h1,
.instrucciones-container h2 {
    color: #ee99cc;
    margin-bottom: 12px;
    font-weight: 700;
}

.instrucciones-container ul {
    padding: 0;
    margin: 10px 0 20px 25px;
    display: inline-block;
    text-align: left;
}

.instrucciones-container li {
    align-items: center;
    margin-bottom: 8px;
    column-gap: 10px;
}

.instrucciones-container p {
    margin-bottom: 12px;
    text-align: justify;
    text-align-last: center;
    letter-spacing: normal;
    word-spacing: normal;
}

.instrucciones-container strong {
    color: #ee99cc;
}

.instruccion1-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px 30px;
    background: #ee99cc;
    color: #100008;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    line-height: 1.6;
    text-align: center;
    word-spacing: normal;
    letter-spacing: normal;
}

.instruccion1-container h2 {
    color: #841850;
    margin-bottom: 12px;
}
.instruccion1-container h3 {
    color: #841850;
    margin-bottom: 12px;
}

.instruccion1-container ul {
    padding: 0;
    margin: 10px 0 20px 25px;
    display: inline-block;
    text-align: left;
}

.instruccion1-container li {
    margin-bottom: 8px;
}

.instruccion1-container li:hover {
    color: #53002c;
    transition: 0.2s ease;
}

.instruccion2-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px 30px;
    background: #ee99cc;
    color: #100008;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    line-height: 1.6;
}

.instruccion2-container h2 {
    color: #841850;
    margin-bottom: 12px;
}


.instruccion2-container p {
    margin-bottom: 12px;
    text-align: justify;
    text-align-last: center;
    letter-spacing: normal;
    word-spacing: normal;
}

.instruccion2-container strong {
    color: #100008;
}


