.lobby-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px 40px;
    background: #841850; 
    color: #f5f5f5;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.35);
    text-align: center;
    line-height: 1.6;
}

.lobby-container h1 {
    color: #ffb7e0;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 800;
}

.config-box {
    background: #ee99cc;
    color: #100008;
    text-align: left;
    padding: 20px 25px;
    border-radius: 12px;
    max-width: 600px;
    margin: 0 auto 30px auto;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}

.config-box p {
    margin: 8px 0;
    font-size: 16px;
}

.config-box strong {
    color: #841850;
    font-weight: 700;
}

.lobby-container h2 {
    color: #ffb7e0;
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 700;
}

.jugadores-lista {
    list-style: none;
    padding: 0;
    max-width: 500px;
    margin: 0 auto 25px auto;
}

.jugadores-lista li {
    background: #f7d4ea;
    color: #51002c;
    padding: 12px 18px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.lobby-container h3 {
    color: #ffb7e0;
    font-size: 22px;
    margin-bottom: 15px;
}

.error {
    background: #ff4d6d;
    color: white;
    padding: 12px;
    width: 60%;
    margin: 10px auto;
    border-radius: 10px;
    font-weight: 700;
}

.aviso-min {
    margin-top: 10px;
    font-weight: 600;
    color: #ffd1de;
}

.btn-iniciar {
    background: #ee99cc;
    color: #100008;
    padding: 12px 25px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.25s ease-in-out;
}

.btn-iniciar:hover {
    background: #ffb7e0;
    transform: scale(1.07);
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}
